<span class="frontend_product_bonus">
    <span class="title">Бонус:</span>
    <span class="bonus_val">{$bonus}</span>
</span>

<script>
    $(function() {
        var last_price = null;

        setInterval(function () {
            var price = $('.add2cart .price').text();
            if (last_price != price) {
                last_price = price;
                $.ajax({
                    type: 'POST',
                    url: '{$wa_app_url}bonuses/product/',
                    dataType: 'json',
                    data: $('#cart-form').serialize(),
                    success: function(data, textStatus, jqXHR) {
                        $('.bonus_val').html(data.data.bonus);
                    }
                });
            }
        }, 500);
    });
</script>