{if !$lazy}
<script type="text/javascript" src="{$wa_app_static_url}plugins/bonuses/js/lazy.load.js?v={$wa->version()}"></script>
<style>
    #bonuses-list{
        width: auto;
    }
    table.zebra a.action_but{
        margin-top: 5px;
        display: inline-block;
    }

    .bonus_input{
        display: none;
    }
    .date_input{
        display: none;
    }
    table.zebra a.cancel{
        display: none;
    }
    table.zebra a.save{
        display: none;
    }    

    table.zebra i.icon16.loading{
        display: none;
    }
</style>

<script>
    $(function() {
        $.bonuses.initLazyLoad({
            auto: true,
            total_count: {$total_count},
            count: {$count},
        });
    });
</script>

<form action="?plugin=bonuses&action=deleteSelected" class="bonuses-form">
    {$wa->csrf()}
    <table class="zebra single-lined padded" id="bonuses-list">
        <thead>
            <tr class="header">
                <th>
                    <input type="checkbox" class="bonuses-select-all">
                </th>
                <th></th>
                <th>Покупатель</th>
                <th class="nowrap align-right">Бонусов</th>
                <th>Дата начисления</th>
                <th>Статус</th>
                <th>Дата последнего посещения</th>

            </tr>
        </thead>
        <tbody>
            {foreach from=$bonuses item=item}
            <tr data-bonuses-id="{$item.id}">
                <td>
                    <input class="select-bonuses-checkbox" type="checkbox" name="bonuses_ids[]" value="{$item.id}">
                </td>
                <td>
                    <a class="action_but edit" href="#"><i class="icon16 edit"></i>Редактировать</a>
                    <a class="action_but delete" href="#"><i class="icon16 delete"></i>Удалить</a>
                    <i class="icon16 loading"></i>
                    <a class="action_but save" href="#"><i class="icon16 yes"></i>Сохранить</a>
                    <a class="action_but cancel" href="#"><i class="icon16 no"></i>Отменить</a>
                </td>
                <td>
                    <a href="{$wa_backend_url}shop/?action=customers#/id/{$item.contact_id}/">{$item.name}</a>
                </td>
                <td class="nowrap align-right">
                    <div class="bonus_val">{shop_currency($item.bonus)}</div>
                    <input class="bonus_input" type="text" value="{shop_currency($item.bonus,null,null,false)}" >
                </td>
                <td>
                    <div class="date_text">{$item.date}</div>
                    <input class="date_input" type="text" value="{$item.date}"/>
                </td>
                <td class="nowrap align-right">
                    {if $item.is_burn}
                    <i title="Сгоревшие бонусы" class="icon16 cross"></i>
                    {else}
                    <i title="Действительные бонусы" class="icon16 yes"></i>
                    {/if}
                </td>

                <td>
                    {$item.last_datetime}
                </td>
            </tr>
            {/foreach}

        </tbody>
    </table>
</form>
<div class="lazyloading">
    <div class="lazyloading-progress-string">{$offset + $count} из {$total_count}</div><br>
    <span class="lazyloading-progress" style="display:none">
        <i class="icon16 loading"></i> [`Loading`]
    </span>
</div>
<div class="block">
    <a class="delete-selected-but" href="#"><i class="icon16 delete"></i>Удалить выбранные</a>
    <span class="del-selected-result"></span>
</div>

{else}
<table class="zebra single-lined padded" id="bonuses-list">
{foreach from=$bonuses item=item}
<tr data-bonuses-id="{$item.id}">
    <td>
        <input class="select-bonuses-checkbox" type="checkbox" name="bonuses_ids[]" value="{$item.id}">
    </td>
    <td>
        <a class="action_but edit" href="#"><i class="icon16 edit"></i>Редактировать</a>
        <a class="action_but delete" href="#"><i class="icon16 delete"></i>Удалить</a>
        <i class="icon16 loading"></i>
        <a class="action_but save" href="#"><i class="icon16 yes"></i>Сохранить</a>
        <a class="action_but cancel" href="#"><i class="icon16 no"></i>Отменить</a>
    </td>
    <td>
        <a href="{$wa_backend_url}shop/?action=customers#/id/{$item.contact_id}/">{$item.name}</a>
    </td>
    <td class="nowrap align-right">
        <div class="bonus_val">{shop_currency($item.bonus)}</div>
        <input class="bonus_input" type="text" value="{shop_currency($item.bonus,null,null,false)}" >
    </td>
    <td>
        <div class="date_text">{$item.date}</div>
        <input class="date_input" type="text" value="{$item.date}"/>
    </td>
    <td class="nowrap align-right">
        {if $item.is_burn}
        <i title="Сгоревшие бонусы" class="icon16 cross"></i>
        {else}
        <i title="Действительные бонусы" class="icon16 yes"></i>
        {/if}
    </td>

    <td>
        {$item.last_datetime}
    </td>
</tr>
{/foreach}
</table>

<div class="lazyloading">$offset = {$offset} $count = {$count}
    <div class="lazyloading-progress-string">{$offset + $count} из {$total_count}</div><br>
    <span class="lazyloading-progress" style="display:none">
        <i class="icon16 loading"></i> [`Loading`]
    </span>
</div>
{/if}