<div class="sidebar left200px" id="bonuses-sidebar">
    <div class="">
        <ul class="menu-v with-icons">
            <li>
                <a href="#/addbonuses/"><i class="icon16 add"></i>Начислить бонусы</a>
            </li>
        </ul>
    </div> 
</div>

<div class="content left200px blank" id="bonuses-content">
    <div class="block triple-padded"><i class="icon16 loading"></i>[`Loading...`]</div>
</div>

<script type="text/javascript" src="{$wa_app_static_url}plugins/bonuses/js/bonuses.js?{$wa->version()}"></script>
<script>
    $(function () {
        $.bonuses.init();
    });
</script>
